@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* 
#CE7DA5 

*/

:root {
	--color-blue: #493657;
	--color-green: #CE7DA5;
	--color-green-hover: #007e43;
	--color-beige: #C6B1B2;
	--color-transparent: #ffffff1a;
	--color-transparent-hover: #ffffff23;
	--color-blur: #0000005e;
}

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-y: auto;
}

body {
	height: 100vh;
	margin: 0;
	overflow-y: auto;
	background-color: var(--color-blue);
	font-family: 'Poppins', sans-serif;
	line-height: 1.4;
  	-webkit-font-smoothing: antialiased;
	scrollbar-gutter: stable both-edges;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/*-------------------- Popup addcard --------------------*/

.background-popup-addcard {
	z-index: 2;
	position: fixed;
	inset: 0;
	background-color: var(--color-blur);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

#popup-addcard {
	padding: 2.3em;
	background-color: var(--color-beige);
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: 8px;
	gap: 1.4em;
	max-width: 95vw;
}

#closer-popup-addcard {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
    right: 5px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
}

#closer-popup-addcard img {
	width: 40px;
	height: 40px;
	transition: 0.3s;
}

#closer-popup-addcard img:hover {
	scale: 1.1;
}

#popup-addcard h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 600;
	font-size: 1.9em;
}

.form-popup-addcard {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.form-popup-addcard div {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-popup-addcard label {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
}

.form-popup-addcard input {
	min-width: min(30ch, 70vw);
	border: none;
	font-size: smaller;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	border: 2px solid #ccc;
	border-bottom-width: 3px;
	transition: background-color 0.3s, border-color 0.2s;
}

.form-popup-addcard input:focus {
	border-color: var(--color-green);
}

.form-popup-addcard input:invalid {
	border-color: #900;
	background-color: #fdd;
}

#submit-popup-addcard {	
	margin-inline: auto;
	padding: 0.5em 2em;
	border: none;
	background-color: var(--color-green);
	font-size: 1.4em;
	font-family: 'Poppins', sans-serif;
	color: white;
	transition: background-color 0.1s;
	cursor: pointer;
	border-radius: 5px;
}

#submit-popup-addcard span {
	transition: scale 100ms ease-in-out;
	display: block;
}

#submit-popup-addcard:hover {
	background-color: var(--color-green-hover);
}

#submit-popup-addcard:hover span {
	scale: 0.95;
}

/*-------------------- Main --------------------*/

h1.logo {
	margin-block: 0;
	max-width: min-content;
	margin-inline: auto;
	line-height: 1em;
	overflow-wrap: normal;
	padding-block-start: 1em;
	padding-inline: 1em;
	font-size: clamp(1em, 10vw, 2em);
}

@media screen and (min-width: 500px) {
	h1.logo {
		max-width: max-content;
	}
}

.logo-password {
	font-size: 1.5em;
	color: var(--color-green);
}

.logo-manager {
	color: var(--color-beige);
}

main {
	--gap: min(3rem, 8vw);
	height: fit-content;
	padding: var(--gap);
}

#cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: var(--gap);
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#button-addcard {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	cursor: pointer;
}

#button-addcard:hover {
	background-color: var(--color-transparent-hover);
}

#button-addcard span{
	font-size: 60px;
	color: var(--color-green);
	transition: 0.5s;
}

#button-addcard:hover span{
	color: var(--color-green-hover);
	scale: 1.3;
}

#cards li {
	margin: auto;
	width: 100%;
	aspect-ratio: 16/9;
	max-width: 400px;
	background-color: var(--color-beige);
	border-radius: 10px;
	animation: append-animate .4s ease-out;
}

#cards li:first-child {
	background-color: var(--color-transparent);
}

@keyframes append-animate {
	from { opacity: 0; }
	to { opacity: 1; }
}

#cards li h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
	color: var(--color-green);
}

#cards li p {
	font-size: 16px;
	margin: 0;
	margin-left: 30px;
	margin-top: 20px;
}

/*-------------------- Responsiveness --------------------*/

@media screen and (min-width: 1780px) {
	#cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1330px) and (max-width: 1780px) {
	#cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 880px) and (max-width: 1330px) {
	#cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 880px) {
	#cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
