@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
	--color-blue: #083553;
	--color-green: #019F55;
	--color-green-hover: #007e43;
	--color-beige: #F5F5DC;
	--color-transparent: #ffffff1a;
	--color-transparent-hover: #ffffff23;
	--color-blur: #0000005e;
}

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	height: 100%;
	/* overflow-y: hidden; */
}

body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	background-color: var(--color-blue);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
  	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/*-------------------- Popup addcard --------------------*/

.background-popup-addcard {
	z-index: 2;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-blur);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

#popup-addcard {
	width: 450px;
	height: 550px;
	background-color: var(--color-beige);
	display: inherit;
	flex-direction: column;
	border-radius: 10px;
}

#closer-popup-addcard {
	width: 40px;
	height: 40px;
	position: relative;
	top: 5px;
	left: 405px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
}

#closer-popup-addcard img {
	width: 40px;
	height: 40px;
	transition: 0.3s;
}

#closer-popup-addcard img:hover {
	scale: 1.1;
}

#popup-addcard h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 600;
}

.form-popup-addcard {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	padding: 15px 30px;
}

.form-popup-addcard label {
	font-size: 18px;
	width: 88%;
}

.form-popup-addcard input {
	margin-bottom: 15px;	
	border: none;
	width: 80%;
	font-size: 18px;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	border: 2px solid #ccc;
	border-bottom-width: 3px;
	transition: 0.2s;
}

.form-popup-addcard input:focus {
	border-color: var(--color-green);
}

.form-popup-addcard input:invalid {
	border-color: #900;
	background-color: #fdd;
}

#submit-popup-addcard {	
	margin-top: 15px;
	border: none;
	height: 50px;
	width: 60%;
	background-color: var(--color-green);
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	color: white;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 5px;
}

#submit-popup-addcard:hover {
	background-color: var(--color-green-hover);
	font-size: 24px;
}

/*-------------------- Main --------------------*/

header {
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.logo-password {
	height: 50px;
	font-size: 50px;
	color: var(--color-green);
}

.logo-manager {
	height: 35px;
	font-size: 35px;
	color: var(--color-beige);
}

main {
	height: fit-content;
	padding: 35px;
}

#cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#button-addcard {
	margin: auto;
	width: 400px;
	height: 220px;
	border-radius: 10px;
	border: none;
	background-color: var(--color-transparent);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	cursor: pointer;
}

#button-addcard:hover {
	background-color: var(--color-transparent-hover);
}

#button-addcard span{
	font-size: 60px;
	color: var(--color-green);
	transition: 0.5s;
}

#button-addcard:hover span{
	color: var(--color-green-hover);
	scale: 1.3;
}

#cards li:not(:first-child) {
	margin: auto;
	width: 400px;
	height: 220px;
	background-color: var(--color-beige);
	border-radius: 10px;
	animation: append-animate .4s ease-out;
}

@keyframes append-animate {
	from { opacity: 0; }
	to { opacity: 1; }
}

#cards li h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
	color: var(--color-green);
}

#cards li p {
	font-size: 16px;
	margin: 0;
	margin-left: 30px;
	margin-top: 20px;
}

/*-------------------- Responsiveness --------------------*/

@media screen and (min-width: 1780px) {
	#cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1330px) and (max-width: 1780px) {
	#cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 880px) and (max-width: 1330px) {
	#cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 880px) {
	#cards {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 500px) {
	#cards li:not(:first-child) {
		width: 300px;
		height: 180px;
	}

	.logo {
		height: 60px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	#button-addcard {
		width: 300px;
		height: 180px;
	}

	#popup-addcard {
		width: 300px;
		height: 525px;
	}
	
	#closer-popup-addcard {
		left: 255px;
	}

	#cards li h2 {
		margin-bottom: 0px;
	}

	#cards li p {
		font-size: 14px;
		margin-top: 13px;
	}

	#popup-addcard h2 {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.form-popup-addcard input {
		margin-bottom: 15px;	
		font-size: 15px;
	}

	.form-popup-addcard label {
		font-size: 15px;
	}
}
