@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
	--background-color-primary: #493657;
	--color-primary: #CE7DA5;
	--color-primary-hover: #a75e82;
	--color-secondary: #C6B1B2;
	--color-transparent: #ffffff1a;
	--color-transparent-hover: #ffffff23;
	--color-blur: #0000005e;
}

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-y: auto;
}

body {
	height: 100vh;
	margin: 0;
	overflow-y: auto;
	background-color: var(--background-color-primary);
	font-family: 'Poppins', sans-serif;
	line-height: 1.4;
  	-webkit-font-smoothing: antialiased;
	scrollbar-gutter: stable both-edges;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/*-------------------- Popup addcard --------------------*/

.popup__blur {
	z-index: 2;
	position: fixed;
	inset: 0;
	background-color: var(--color-blur);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

.popup {
	padding: 2.3em;
	background-color: var(--color-secondary);
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: 8px;
	gap: 1.4em;
	max-width: 95vw;
}

.popup__cross {
	position: absolute;
	top: 5px;
    right: 5px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
}

.popup__cross img {
	width: 3rem;
	height: 3rem;
	transition: 0.3s;
}

.popup__cross img:hover {
	scale: 1.1;
}

.popup h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.9em;
}

.popup__form {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.popup__form div {
	display: flex;
	flex-direction: column;
	gap: 0.8em;
}

.popup__form label {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
}

.popup__form input {
	min-width: min(30ch, 70vw);
	border: none;
	font-size: smaller;
	outline: none;
	padding: 0.7em 1em;
	border-radius: 5px;
	border: 2px solid #ccc;
	border-bottom-width: 3px;
	transition: background-color 0.3s, border-color 0.2s;
}

.popup__form input:focus {
	border-color: var(--color-primary);
}

.popup__form input:invalid {
	border-color: #900;
	background-color: #fdd;
}

.popup__submit {	
	margin-inline: auto;
	padding: 0.5em 2em;
	border: none;
	background-color: var(--color-primary);
	font-size: 1.4em;
	font-family: 'Poppins', sans-serif;
	color: white;
	transition: background-color 0.1s;
	cursor: pointer;
	border-radius: 5px;
}

.popup__submit span {
	transition: scale 100ms ease-in-out;
	display: block;
}

.popup__submit:hover {
	background-color: var(--color-primary-hover);
}

.popup__submit:hover span {
	scale: 0.95;
}

/*-------------------- Main --------------------*/

h1.logo {
	margin-block: 0;
	max-width: min-content;
	margin-inline: auto;
	line-height: 1em;
	overflow-wrap: normal;
	padding-block-start: 1em;
	padding-inline: 1em;
	font-size: clamp(1em, 10vw, 2em);
}

@media screen and (min-width: 500px) {
	h1.logo {
		max-width: max-content;
	}
}

.logo__password {
	font-size: 1.5em;
	color: var(--color-primary);
}

.logo__manager {
	color: var(--color-secondary);
}

main {
	--gap: min(3rem, 8vw);
	height: fit-content;
	padding: var(--gap);
}

.cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: var(--gap);
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#button-addcard {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

#button-addcard span{
	font-size: 4em;
	color: var(--color-primary);
	transition: 0.1s;
}

#button-addcard:hover span {
	color: var(--color-primary-hover);
	scale: 1.2;
}

.cards li {
	margin: auto;
	width: 100%;
	aspect-ratio: 16/9;
	max-width: 400px;
	background-color: var(--color-secondary);
	border-radius: 10px;
	animation: append-animate .4s ease-out;
}

.cards li:first-child {
	background-color: var(--color-transparent);
	transition: 0.3s ease-out;
}

.cards li:first-child:hover {
	background-color: var(--color-transparent-hover);
}

@keyframes append-animate {
	from { opacity: 0; }
	to { opacity: 1; }
}

.cards li h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
	color: var(--color-primary);
}

.cards li p {
	font-size: 16px;
	margin: 0;
	margin-left: 30px;
	margin-top: 20px;
}

/*-------------------- Responsiveness --------------------*/

@media screen and (min-width: 1780px) {
	.cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1330px) and (max-width: 1780px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 880px) and (max-width: 1330px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 880px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
